<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>The Black Panthers: Avi Generator</h1>
	  <h3>Use this tool to show you stand for the People. "The Black Panthers: Vanguard of the Revolution" debuts in theaters September 2. Find a screening near you: <a href="http://theblackpanthers.com" target="_blank">theblackpanthers.com</a></h3>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
